html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.prettyColorsContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.prettyLine {
  animation-name: spin;
  animation-direction: normal;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 10px;
  position: absolute;
  width: 5%;
}

.prettyLine:hover {
  animation-direction: reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
